* {
  box-sizing: border-box;
}

body { 
  position: relative;
  overflow: hidden;
}

.background-container {
  height: 110vh;
  width: 110vw;
  position: fixed;
  top: -5px;
  left: -5px;
  background: url("./Magic_Kingdom_Hub.jpeg");
  background-size: cover;
  background-position: center;
  background-position-x: 53%;
  z-index: 1;
  filter: blur(3px) brightness(75%);
}

.App {
  text-align: center;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 5vw;
}

.countdown-title {
  margin: 0 0 .5em;
  letter-spacing: .05em;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.section-container span {
  display: block;
}

.section-container .section-number {
  font-size: 2em;
  font-weight: 600;
}

.section-container .section-text {
  font-size: .75em;
}
